<style>
    @media screen and (max-width: 960px) {
      .imgDisplayLarge {
        display: none;
      }
    }
    p{
      max-width: none;
    }
  </style>

<div id="abc" class="pv4">
  <div class="ph3 mw7 center">
    
    <hr>
    <h2 class="f2 b lh-title mb2 pt4">{{.heading}}</h2>
    <h2 class="f5 b lh-title mb3 pt2 ph2-l">{{.subheading}}</h2>
    <div class="flex-l mhn2-l">
      
      <div class="w-60-l ph2-l">
        <p>{{.text1}}</p>
      </div>
      
      <div class="w-40-l ph2-l">
        <img src={{.image}} alt="" class="imgDisplayLarge">
      </div>
    </div>
    <div class="ph2-l">

      <p class="mw-none">{{.text2}}</p>
      <p class="mw-none">{{.text3}}</p>
    </div>
 
  </div>
</div>
