<style>
    @media screen and (max-width: 1250px) {
      .imgDisplayLarge {
        display: none;
      }
      .fullWidth{
        width: 100%;
      }
    }
  </style>

<div id="wypowiedzi" class="ph3 mw7 center pv4 pt4"><hr>
  <div class="flex-ns mhn2-ns flex-column pt4">
    <h2 class="f2 b di lh-title mb3">
      {{.heading }}
    </h2>
    <div class="b-carousel" id="carousel">
          <div class="b-carousel__frame">
            <ul class="b-carousel__items">
              {{ range .items }}
                <li class="flex flex-row">
                  <img src={{ .image }} alt="" class="mw45 pa3 br-50 self-center imgDisplayLarge image-cover greyscale h-200px w-200px br-50">
                  <div class="dib w-70 fullWidth">
                    <h2>{{.name | markdownify }}</h2>
                    <p class="f6">
                      {{.text1 | markdownify }}
                    </p>
                  </div>
                </li>
              {{ end }}
            </ul>
          </div>
        </div>
    <div class="ph2-l">
  </div>
</div>
