<style>
    @media screen and (max-width: 1250px) {
      .imgDisplayLarge {
        display: none;
      }
      .fullWidth{
        width: 100%;
      }
    }
  </style>

<div id="historie" class="ph3 mw7 center pv4 pt4"><hr>
  <div class="flex-ns mhn2-ns flex-column pt4">
    <h2 class="f2 b di lh-title mb3">
      {{.heading}}
    </h2>
    <div class="b-carousel" id="carousel">
          <div class="b-carousel__frame">
            <ul class="b-carousel__items">
              {{ range .items }}
                <li class="flex flex-row">
                  <img src={{ .image }} alt="" class="mw45 pa3 self-center imgDisplayLarge image-cover greyscale h-200px w-200px br-50">
                  <div class="dib w-70 fullWidth">
                    <h2>{{.name}}</h2>
                    <p>
                      {{.text1 | markdownify }}
                    </p>
                  </div>
                </li>
              {{ end }}
            </ul>
          </div>
        </div>
    <div class="ph2-l">
      <p>
          {{.texts.text1}}
      </p>
      <p>
          {{.texts.text2}}
      </p>
    </div>
    <div class="ph2-l flex flex-row mw6 center ba br2 bg-primary white justify-around pa2">
      <div class="f15 mb0 pr2 pl2 ba br-50 self-center flex justify-center items-center" style="min-width: 100px; height: 100px;">
        <i class="fa fa-exclamation white v-mid"></i>
      </div>
      <p class="mw-none pa3 mb0">{{.texts.text3}}</p>
    </div>
  </div>
</div>
