<div id="historie" class="ph3 mw7 center pt4"><hr>
  <div class="flex-ns mhn2-ns flex-column pt4">
    <h2 class="f2 b di lh-title mb3">
      {{.heading}}
    </h2>
    <div class="b-carousel" id="carousel">
          <div class="b-carousel__frame">
            <ul class="b-carousel__items">
              {{ range .items }}
                <li>
                  <h2>{{.name}}</h2>
                  <p>
                      {{.text1}}
                  </p>
                  <p>
                    {{.text2}}
                  </p>
                </li>
              {{ end }}
            </ul>
          </div>
        </div>
  </div>
</div>
