<style>
	@media screen and (max-width: 640px) {
  #footerWrapper {
    flex-direction: column;
  }
  
  #polaczWrapper {
    justify-content: center;
  }
}
</style>

<footer class="bg-red ph3 pv4 white mt5">

	<div class="center pt3" style="max-width: 40rem">

		<div id="footerWrapper" class="mb4 flex">
			
			<!-- <div id="polaczWrapper" class="flex-ns flex">
				<div class="">
					<h3 class="f4 b lh-title mb2 primary white">Połącz się:</h3>
					<ul class="mhn2">
						{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
						{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
					</ul>
				</div>
			</div> -->
			<div class="flex justify-center flex-auto">
				<img src="/img/serce-inverted.png" alt="" style="width:128px;height:128px;">
			</div>
			<div class="flex" style="min-width:150px"></div>
		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
