<div id="materialy" class="pb4">
  <div class="ph3 mw7 center">
    <hr>
    <h2 class="f2 b lh-title mb2 pt4">{{.heading}}</h2>
  <div class="flex-l flex-column mhn1-l ph3 center mw7">
    <a href="./img/Informacja-prasowa_Zawał-serca-Czas-to-Życie_7112018-FINAL.pdf" class="">{{.texts.text1}}</a>
    <a href="./img/Wyniki-badań_Zawał-serca-Opinie-Polaków_7112018_FINAL.pdf" class="">{{.texts.text2}}</a>
    <a href="./img/Cytaty_Zawał-serca-czas-to-życie_7112018_FINAL.pdf" class="">{{.texts.text3}}</a>
    <a href="./img/Historie-pacjentów_Zawał-serca-Czas-to-Życie_7112018-FINAL.pdf" class="">{{.texts.text4}}</a>
  </div>
</div>
</div>