<nav class="overflow-x-scroll overflow-x-visible-ns flex sticky justify-between items-center center bg-white divider-grey relative">

	<!-- Primary Nav -->
	<ul class="flex b grey-3 center">
			<!-- Logo -->
			<li>
				<div class="pa3 db mr4 h-100 flex-none">
					<img src="/img/logo.jpg" alt="" class="br0 db mb0 w-100"/>
				</div>
			</li>
		<li><a href="#about" class="pa3 no-underline db">O Kampanii</a></li>

		<li><a href="#abc" class="pa3 no-underline db">ABC zawału</a></li>

		<li><a href="#postepowanie" class="pa3 no-underline db">Podejrzewasz zawał?</a></li>

		<li><a href="#historie" class="pa3 no-underline db">Historie pacjentów</a></li>

		<li><a href="#partnerzy" class="pa3 no-underline db">Partnerzy</a></li>
	</ul>

</nav>
