<style>
	@media screen and (max-width: 960px) {
    #imgWrapper {
      display: flex;
      justify-content: center;
    }
    p {
        max-width: none;
    }
  }
</style>

<div id="objawy" class="pv4">
  <div class="ph3 mw7 center">
    
    <hr>
    <h2 class="f2 b lh-title mb2 pt4">{{.heading1}}</h2>
    <div class="flex-l mhn2-l">
      
      <div class="flex flex-column ma2 w-30-l pa1 mw5" style="margin-left: 5%">
        <img src={{.image1}} alt="" class="w-100 mw45 self-center image-cover greyscale h-200px w-200px br-50">
      </div>
      
      <div id="pWrapper" class="w-80-l ph2-l">
        <p>{{.text1}}</p>
        <p>{{.text2}}</p>
        <p>{{.text3}}</p>
      </div>
      
    </div>
    <h2 class="f2 b lh-title mb2 pt4">{{.heading2}}</h2>
    <div class="flex flex-row flex-wrap justify-center mhn2-l">
      {{ range .thumbnails }}
      <div class="flex flex-column ma2 w-30-l pa1 mw5">
        <img src={{ .image }} alt="" class="w-100 mw45 self-center image-cover greyscale h-200px w-200px br-50">
        <p class="tc f6 mt2 mb1">{{ .text}}</p>
      </div>
      {{ end }}
    </div>
    <div class="ph2-l flex flex-row mw6 center ba br2 bg-primary white justify-around pa2">
        <div class="f15 mb0 pr2 pl2 ba br-50 self-center flex justify-center items-center" style="min-width: 100px; height: 100px;">
          <i class="fa fa-exclamation white v-mid"></i>
        </div>
        <p class="mw-none pa3 mb0">{{.text10}}</p>
    </div>
  </div>
 
  </div>
</div>

