<style>
	@media screen and (max-width: 960px) {
    #imgWrapper {
      display: flex;
      justify-content: center;
    }
    p {
        max-width: none;
    }
  }
</style>

<div class="pv4">
  <div class="ph3 mw7 center">
    
    <hr>
    <h2 class="f2 b lh-title mb2 pt4">{{.heading1}}</h2>
    <div class="flex-l mhn2-l">
      
      <div class="flex flex-column ma2 w-30-l pa1 mw5" style="margin-left: 5%">
        <img src={{.image1}} alt="" class="w-100 mw45 self-center">
      </div>
      
      <div id="pWrapper" class="w-80-l ph2-l">
        <p>{{.text1}}</p>
        <p>{{.text2}}</p>
      </div>
      
    </div>
    <p class="ph2-l">{{.text3}}</p>
    <h2 class="f2 b lh-title mb2 pt4">{{.heading2}}</h2>
    <div class="flex flex-row flex-wrap justify-center mhn2-l">
      <div class="flex flex-column ma2 w-30-l pa1 mw5">
        <img src={{.image2}} alt="" class="w-100 mw45 self-center">
        <p class="tc f6 mt2 mb1">{{.text4}}</p>
      </div>

      <div class="flex flex-column ma2 w-30-l pa1 mw5">
        <img src={{.image3}} alt="" class="w-100 mw45 self-center">
        <p class="tc f6 mt2 mb1">{{.text5}}</p>
      </div>

      <div class="flex flex-column ma2 w-30-l pa1 mw5">
        <img src={{.image4}} alt="" class="w-100 mw45 self-center">
        <p class="tc f6 mt2 mb1">{{.text6}}</p>
      </div>

      <div class="flex flex-column ma2 w-30-l pa1 mw5">
        <img src={{.image5}} alt="" class="w-100 mw45 self-center">
        <p class="tc f6 mt2 mb1">{{.text7}}</p>
      </div>

      <div class="flex flex-column ma2 w-30-l pa1 mw5">
        <img src={{.image6}} alt="" class="w-100 mw45 self-center">
        <p class="tc f6 mt2 mb1">{{.text8}}</p>
      </div>

      <div class="flex flex-column ma2 w-30-l pa1 mw5">
        <img src={{.image7}} alt="" class="w-100 mw45 self-center">
        <p class="tc f6 mt2 mb1">{{.text9}}</p>
      </div>
    </div>
    <div class="ph2-l">

      <p class="f4 primary">{{.text10 | markdownify}}<i class="fas fa-exclamation primary pl1"></i></p>
      <p class="mw-none">{{.text11}}</p>
    </div>
  </div>
</div>

