<div id="postepowanie" class="pv4">
  <div class="ph3 mw7 center">
    <hr>
    <h2 class="f2 b lh-title mb2 pt4">{{.heading}}</h2>
    <div class="flex flex-column mhn2-l">
      <h2 class="f3 pa2 b lh-title">{{.subheading}}</h2>
      <ol class="flex flex-column ml2 ph2-l" style="list-style: decimal">
          <li class="mw-none">{{.texts.text1 | markdownify}}</li>
          <li class="mw-none">{{.texts.text2 | markdownify}}</li>
          <li class="mw-none">{{.texts.text3 | markdownify}}</li>
          <li class="mw-none">{{.texts.text4 | markdownify}}</li>
          <li class="mw-none">{{.texts.text5 | markdownify}}</li>
          <li class="mw-none">{{.texts.text6}}</li>
      </ol>
      <div class="b pa2">
          {{.texts.text8}}<i class="fas fa-exclamation primary pl1"></i>
      </div>
      <div class="ph2-l">
          <p><i class="fas mr2 fa-check"></i>{{.texts.text9}}</p>
          <p><i class="fas mr2 fa-check"></i>{{.texts.text10}}</p>
          <p><i class="fas mr2 fa-check"></i>{{.texts.text11}}</p>
          <p><i class="fas mr2 fa-check"></i>{{.texts.text12 | markdownify}}</p>
      </div>
      <div class="pt2 pl2">
        <p>{{.texts.text13}}</p>
        <p>{{.texts.text14}}</p>
      </div>
    </div>
  </div>
</div>
