<div id="postepowanie" class="pv4">
  <div class="ph3 mw7 center">
    <hr>
    <h2 class="f2 b lh-title mb2 pt4">{{.heading}}</h2>
    <div class="flex flex-column mhn2-l">
      <div class="flex flex-row">
        <div class="w-80-l ph2-l flex flex-column">
          <p>{{.texts.text1 | markdownify}}</p>
          <p>{{.texts.text2 | markdownify}}</p>
        </div>
        
        <div class="w-20-l ph2-l">
          <img src={{.image}} alt="" class="">
        </div>
      </div>
      
      <div class="flex flex-column ph2-l">
          <p class="mw-none">{{.texts.text3 | markdownify}}</p>
          <p class="mw-none primary b">{{.texts.text4}}</p>
          <p class="mw-none">{{.texts.text5 | markdownify}}</p>
          <p class="mw-none">{{.texts.text6}}</p>
          <p class="mw-none">{{.texts.text7}}</p>
          <p class="mw-none">{{.texts.text8}}</p>
      </div>
    </div>
  </div>
</div>
