.shadow       { 	text-shadow: 0px -3px 1px rgba(37, 37, 37, 0.7);
 }

@media (--breakpoint-not-small) {
  .shadow-ns       { 	text-shadow: 0px -3px 1px rgba(37, 37, 37, 0.7);
 }
}

@media (--breakpoint-medium) {
  .shadow-m       { 	text-shadow: 0px -3px 1px rgba(37, 37, 37, 0.7);
 }
}

@media (--breakpoint-large) {
  .shadow-l       { 	text-shadow: 0px -3px 1px rgba(37, 37, 37, 0.7);
 }
}
