.carousel {
  overflow: hidden;
}

.carousel-list:before,
.carousel-list:after {
  content: "";
  display: table;
}

.carousel-list:after {
  clear: both;
}

.carousel-slide {
  width: 500px;
  padding: 20px;
  float: left;
}

.purejscarousel-dots-container {
  display: none;
}

.purejscarousel-btn {
  background: transparent;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
  position: absolute;
}

.purejscarousel-btn-next {
  border-bottom: 8px solid red;
  border-right: 8px solid red;
  -moz-transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
  right: 10%;
}

.purejscarousel-btn-prev {
  border-bottom: 8px solid red;
  border-left: 8px solid red;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 10%;
}