{{ define "main" }}
 
{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "nav" . }}
 
{{ partial "text-and-image" (dict "heading" .Params.oKampanii.heading "subheading" .Params.oKampanii.subheading "text" .Params.oKampanii.text "image" .Params.oKampanii.image "subsections" .Params.oKampanii.subsections) }}
 
{{ partial "letter" (dict "image" .Params.letter.image "title" .Params.letter.title "text" .Params.letter.text "quote1" .Params.letter.quote1 "quote2" .Params.letter.quote2) }}

{{ partial "title-text-chart" (dict "heading" .Params.stats.heading "text" .Params.stats.text "description" .Params.stats.description) }}

{{ partial "abc" (dict "heading" .Params.abc.heading "text1" .Params.abc.text1 "text2" .Params.abc.text2 "text3" .Params.abc.text3 "image" .Params.abc.image) }}

{{ partial "objawy" (dict "heading1" .Params.objawy.heading1 "heading2" .Params.objawy.heading2 "text1" .Params.objawy.text1 "text2" .Params.objawy.text2 "text3" .Params.objawy.text3 "text4" .Params.objawy.text4 "text5" .Params.objawy.text5 "text6" .Params.objawy.text6 "text7" .Params.objawy.text7 "text8" .Params.objawy.text8 "text9" .Params.objawy.text9 "text10" .Params.objawy.text10 "text11" .Params.objawy.text11 "image1" .Params.objawy.image1 "image2" .Params.objawy.image2 "image3" .Params.objawy.image3 "image4" .Params.objawy.image4 "image5" .Params.objawy.image5 "image6" .Params.objawy.image6 "image7" .Params.objawy.image7) }}


{{ partial "postepowanie" (dict "heading" .Params.postepowanie.heading "texts" .Params.postepowanie.texts "image" .Params.postepowanie.image) }}

{{ partial "socials" }}

{{ partial "carousel" (dict "heading" .Params.carousel.heading "items" .Params.carousel.items) }}

{{ partial "partners" (dict "heading" .Params.partners.heading "text" .Params.partners.text ) }}

{{ partial "partners" (dict "heading" .Params.kontakt.heading "text" .Params.kontakt.text ) }}

{{ partial "blog" . }}
 
{{ end }}
 