{{ define "main" }}
 
{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}
 
{{ partial "text-and-image" (dict "heading" .Params.oKampanii.heading "text" .Params.oKampanii.text "image" .Params.oKampanii.image) }}
 
{{ partial "quotes" (dict "quotes" .Params.quotes) }}

<!-- {{ partial "2-up" (dict "products" .Params.products) }} -->
 
{{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Read more" "buttonLink" "/values") }}
 
{{ partial "blog" . }}
 
{{ end }}
 